<div class="bg-primary text-white mb-2">
    <div class="d-flex justify-content-between mx-3">
        <h1>JSA</h1>
        <div class="ms-auto d-flex">
            <div class="my-auto">
                <span class="my-auto" *ngIf="vm.url; else signIn">{{ vm.url }}</span>
                <span class="my-auto" *ngIf="vm.selectedProject">{{ vm.selectedProject.key }}</span>
                <span
                    class="ms-2 badge bg-secondary"
                    *ngIf="selectedStatuses.length > 0"
                    tabindex="0"
                    (click)="toggleStatuses()"
                    ><span class="icon-down-open"></span
                ></span>
            </div>
            <ng-template #signIn>
                <p class="my-auto">Log in to use the app</p>
            </ng-template>
        </div>
    </div>
</div>
