<form [formGroup]="projectForm" (submit)="submit($event)">
    <h2>Please select a project to work in</h2>
    <div class="form-check mb-2" *ngFor="let project of vm.projects; trackBy: trackByProjectId">
        <input
            formControlName="projectControl"
            class="form-check-input"
            type="radio"
            [value]="project"
        />
        <label class="form-check-label" [for]="project.name"
            >{{ project.name }} / {{ project.key }}</label
        >
    </div>
    <button class="btn btn-primary mb-3">Submit</button>
</form>
