<div #issueRef>
    <div class="card card-body">
        <p class="card-text truncate">{{ issue.fields.summary }}</p>
        <div class="d-flex justify-content-between">
            <img
                *ngIf="issue.fields.assignee; else unassigned"
                class="rounded"
                [src]="issue.fields.assignee.avatarUrls['32x32']"
                [alt]="issue.fields.assignee.displayName"
            />
            <ng-template #unassigned>
                <img
                    class="rounded"
                    src="https://img.icons8.com/pastel-glyph/2x/person-male--v2.png"
                    alt="Unassigned"
                />
            </ng-template>
            <img
                *ngIf="issue.fields.priority"
                class="rounded mt-auto priority"
                [src]="issue.fields.priority.iconUrl"
                [alt]="issue.fields.priority.name"
            />
        </div>
    </div>
    <div *ngIf="!dropdownHidden && transitions$ | async as transitions" class="context-menu">
        <div class="list-group">
            <div
                *ngFor="let transition of transitions"
                (click)="doTransition(transition)"
                class="list-group-item list-group-item-action"
            >
                <span class="icon-login"></span> {{ transition.to.name }}
            </div>
            <div (click)="toggleWorkLog()" class="list-group-item list-group-item-action">Show Work Log</div>
        </div>
    </div>
</div>
<div *ngIf="!workLogHidden">
    <app-worklog [issue]="issue" (close)="toggleWorkLog()"></app-worklog>
</div>
