<h1 class="my-2">Enter your Jira server website</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="d-flex justify-content-left">
        <input
            name="jiraUrl"
            type="url"
            class="form-control mb-3 me-2"
            placeholder="https://jira.example.com"
            formControlName="url"
            autocomplete="url"
            [ngClass]="{ 'is-invalid': urlControl.touched && urlControl.invalid }"
            required
        />
        <button class="btn btn-primary mb-3">Submit</button>
    </div>
</form>
