<ng-container *ngIf="vm$ | async as vm">
    <app-header [vm]="vm"></app-header>
    <div [ngSwitch]="vm.flowState" class="container">
        <app-pending *ngSwitchCase="'loading'"></app-pending>
        <app-login *ngSwitchCase="'login'"></app-login>
        <app-project-selection *ngSwitchCase="'project'" [vm]="vm"></app-project-selection>
        <div *ngSwitchCase="'issues'">
            <app-statuses [vm]="vm"></app-statuses>
            <app-issue [vm]="vm"></app-issue>
        </div>
    </div>
</ng-container>
