/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap"
@import "./font/fontello.css"
@import "./font/animation.css"

.bg-primary 
    background-color: #0099ff
html
  width: 500px
    
  @media ( max-width: 800px )
    width: 800px    
body
  max-width: 100%
  overflow: hidden
//     animation: redraw 1s linear infinite

// @keyframes redraw 
//   0% 
//     opacity: 1
  
//   100% 
//     opacity: .99
          
        
      
          
        